/*-------------------------------------------    
   101 Cookbooks 2015 
    Global layout
    
    default colors -
    	dark gray #666666
    	left bar dark gray #333333
    	left bar light gray #949494
   		golden brown #9F6C3C
   		faded copper #AF9277
   		light grey borders #d6d6d6
   		light green join button #d3e777
   		sandy peach tagline #c3ad82
    
-------------------------------------------*/

body	{ background-color:#fff;font-family: "proxima-nova-1","proxima-nova-2",Helvetica, Verdana, sans-serif; font-size:16px; color:#505050; margin-top:0px; }


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width:768px) { 
.container-fluid {max-width:1170px; }
.navcol {padding: 0px;max-width: 160px;margin:0px;}
.sidebar-nav {max-width:150px;padding:0px;margin:0px;}
.sidebar-nav .navbar .navbar-collapse {padding: 0; max-height: none;-webkit-box-shadow:none;box-shadow:none;}
.sidebar-nav .navbar ul {float: none;}
.sidebar-nav .navbar ul:not {display: block;}
.sidebar-nav .navbar li {float: none;display: block;}
.sidebar-nav .navbar li a {padding-top: 8px;padding-bottom: 8px;}
.sidebar-nav .navbar li .dropdown {padding-top: 12px;padding-bottom: 12px;} 

#maincontent{max-width:680px;}
#adcolumn	{ min-width:300px; }	
#maincontent h2, #maincontent h1 {width:600px;}
#maincontent .archives  p {	width:430px;}
#maincontent   p {	max-width:620px;}
#maincontent #relatedentries .cat-blurb p { width:420px;}
.catblurb   {font-size:1em; margin: 0px 0px 15px 25px;max-width:600px;}

.mainimagewide .mainimg { margin-bottom:4px;border:0px; }
.mainimagewide .frontthumbs {border:0px;clear:both;}
.mainimagewide .frontthumbs img {float:left;}
.mainimagewide .frontthumbs .frontleftthumb {margin-right:4px; }
.mainimagewide .frontthumbs .frontrightthumb { }
 }

#maincontent{ font-family: "proxima-nova-1","proxima-nova-2",Helvetica, Verdana, sans-serif; padding:0px 0px 0px 0px;float:left;}
.navbar-toggle { font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman", serif;font-size:1em;}

						
/*	-------		global link styles	 ------- */
a			{ color: #666666;}
a:focus 	{ color:#9F6C3C;}
a:hover		{ color:#9F6C3C;}
a:visited	{ color:#AF9277;}


/*	-------		header nav bar	 ------- */

header {margin:16px 0px 16px 0px;background-color:#ffffff;}
header .searchform	{margin:5px 10px 0px 0px;}
.searchform .gsc-clear-button {display:none;}
.searchform .gsc-input  {height: 30px; }
.searchform .gsc-search-button { margin-left:10px;color:#666;font-weight:normal;height: 30px;font-size:1em; }

/*-------------------------------------------    
    Navcolumn (left) layout    
-------------------------------------------*/

.navbar-default { -webkit-box-shadow:none !important;box-shadow:none !important;}
ul.navitems li { font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman", serif; list-style-type:none;color:#666666;font-size: .9em;letter-spacing: .020em;line-height: .5em;height:1.6em;}

.navbar {border:0px;background-color:#ffffff;border-color:#ffffff;}
.navbar-default {background-color:#ffffff;border-color:#ffffff;}
.navbar-header { background-color:#fff;}
 .sidebar-nav .navbar .navbar-collapse { background-color:#ffffff;border:0px !important; font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman";}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color:#ffffff;background-color:#ffffff; }
.sidebar-nav li.dropdown, .sidebar-nav li.shop  {font-size:1.1em;}
.sidebar-nav li.dropdown li a {font-size:1.1em;}

ul.navitems  {padding:0px;margin: 0px 0px 12px 5px; }

.navitems li a { text-decoration:none;color:#949494; }

.min { height:1px; font-size:1px; line-height:1px;}

#toggleingred, #togglecats { font-style:italic;color:#949494;}

.navbar .socialicons {float:left;width:120px;margin:20px 0px 10px 6px; }

.navbar .socialicons img {margin-left:10px;border:0px;}

.navbar .searchform {padding:0px; margin:0px;}

ul.dropdown-menu { -webkit-box-shadow: none;box-shadow:none;}

/*-------------------------------------------    
    main content (center) layout
-------------------------------------------*/

#maincontent h2, #maincontent h1, #maincontent h5 {font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif; font-size:1.6em; letter-spacing:.05em;font-weight: normal;text-decoration:none; text-align:center;margin:10px 0px 2px 10px;padding:1px 0px 0px 0px;}	

#maincontent h5 {font-size:1.3em;}
#maincontent h2 a, #maincontent h2 a:visited, #maincontent h1 a, #maincontent h1 a:visited   { text-decoration:none; color: #333;}
#maincontent h2 a:hover, #maincontent h1 a:hover, #maincontent .frontcontinue a:hover    {text-decoration:none;color:#9F6C3C;}
#maincontent h2 {font-size:1.3em;}
#maincontent h3	{font-size:.75em;font-weight:bold;font-style:italic;margin:0px 0px 12px 10px;padding-top:0px;}	
#maincontent h4	{font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;color:#666666;letter-spacing:.12em;text-transform:none;background-color:#ffffff;font-size:1.3em;line-height:1.1em;border-bottom: 1px solid #cccccc;font-weight:normal;margin: 25px 0px 20px 10px;padding: 5px 0px 15px 15px;}
#maincontent h4.topical {margin-left:0px;text-align:center;}
h1#astitle 	{font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;color:#666666;letter-spacing:.12em;text-transform:none;background-color:#ffffff;font-size:1.4em;line-height:.8em;border-bottom: 1px solid #cccccc;font-weight:normal;margin: 25px 0px 20px 10px;padding: 5px 0px 14px 15px;text-align:left; text-transform: capitalize;}

#maincontent h5.travel	{font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;color:#444;letter-spacing:.12em;text-transform:none;font-size:1.15em;line-height:1.1em;height:24px;font-weight:normal;margin:15px 0px 5px 10px;padding:5px 0px 1px 15px;}
#maincontent h6	{ font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;font-size:.85em;font-weight:bold;margin:15px 0px 3px 10px;padding:0px;color:#666666;}
#maincontent h6	{ font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;font-size:1.2em;font-weight:normal;margin:15px 0px 3px 10px;padding:0px;color:#666666;}		

#maincontent h4#astitle  {margin-top:0px;}	

#maincontent .entrydate { margin:10px 0px 15px 0px;height:15px;font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;font-size:.85em;font-style:italic;font-weight:normal;text-transform: none; }
#maincontent .entrydate a {color:#949494;text-decoration:none;}		
#maincontent .entrydate a:hover	{color:#9F6C3C;text-decoration:underline;}	
#maincontent .entrydate a:visited{color: #666;text-decoration:none;}

.mainimagewide img, .entrybody img {  display: block;height: auto;max-width: 100%;border:0px; }

.entrybody  { clear:both;margin-top:-5px;padding-top:0px;}

#maincontent p, #catdescript p {font-size:1em;letter-spacing:.03em;line-height:1.48em; color:#505050;margin:0px 0px 15px 5px;}	

.catblurb   {padding: 0px 20px 10px 20px;}
.catblurb a:link, .catblurb a:visited {text-decoration:underline;} 

.homepage #maincontent p{font-size:1em;letter-spacing:.03em;line-height:1.48em; color:#505050;margin:0px 15px 7px 15px;}	

.homepage .entrybody {margin-top:10px;}

#maincontent .entrybody a {color:#9F6C3C }

#maincontent .entrybody blockquote p { margin:0px 0px 15px 10px;font-size:.85em;}	

#maincontent .entrybody blockquote {border:0px; }

#maincontent .entrybody p img	{ margin-bottom:0px;padding-bottom:0px;display: block;margin-left: auto;margin-right: auto;}	

#maincontent .frontcontinue, #maincontent .frontcontinue a  {font-family: "chaparral-pro-1","chaparral-pro-2",Georgia; font-style:italic;color:#949494;font-size:1.02em;text-align:left;margin:0px 0px 0px 6px; text-decoration:none;}

.narrowimagebox   {float:left;}
			
.narrowgooglebox  {float:left;margin-top:8px;}
			
.archives li {  line-height:1.5em;font-size:1.1em;list-style:none;margin:0px 0px 5px 10px; padding-left:22px;}

.archives ul {margin-left:0px; padding:0px;	}

.archives h6 { font-size:1.3em; }

#communitylinks {font-size:.65em;margin:20px 0px 30px 0px; }
 
#communitylinks img {margin-bottom:6px;}

#maincontent .archives  p {	font-size:1em;font-family: "proxima-nova-1","proxima-nova-2",Helvetica, Verdana, sans-serif;margin-left:15px;}

.entrybody ul {font-size:.85em;line-height:1.4em;padding:0px;margin:0px 0px 10px 80px;}

.entrybody ul.travel {line-height:1.4em;margin:0px 0px 10px 20px;font-size:.9em;}

.entrybody ul.travel a:link {text-decoration:underline;}

@media only screen and (min-width:768px) { .entrybody ul.travel {max-width:550px;}}

.entrybody ul.travel li {margin:0px 0px 7px 15px;list-style-type:none;background-image: url(/mt-static/images/2012/tinybullet.png);background-repeat: no-repeat;background-position: 3px 8px;padding-left:15px;}

.tiny { font-size:.7em; }

#maincontent #nextprevlinks  {margin-left:0px;margin-top:25px;font-size:.9em; }

.homepage #maincontent #nextprevlinks  {margin-top:0px; }

#maincontent .previouspost, #maincontent .nextpost {font-size:1em; background-color:#efefef;height:85px;padding:5px 10px 10px 10px; max-width:220px;} 

#maincontent .nextpost { }

#maincontent .previouspost .link {text-align:left;font-style:italic;font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;margin:10px 0px 0px 0px;  }

#maincontent .nextpost .link {text-align:right;font-style:italic;font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;margin:10px 0px 0px 0px;  }

#maincontent .previouspost:hover, #maincontent .nextpost:hover { background-color:#f6f4ea; }

#maincontent .previouspost {float:left; text-align:left; }

#maincontent .nextpost { float:right; text-align:right;}

#nextprevlinks a:link {text-decoration:underline;color: #9F6C3C; }

#nextprevlinks .nextprevlabel { font-family: "chaparral-pro-1","chaparral-pro-2",Georgia;font-style:italic;font-size:.85em;padding:5px;margin:0px 0px 0px 0px; height:15px; }

.homepage #nextprevlinks .nextprevlabel { font-family: "chaparral-pro-1","chaparral-pro-2",Georgia;font-style:italic;padding:5px;margin:-10px 0px 0px 0px;border-top:0px;  }

.homepage #nextprevlinks a:link { text-decoration:underline; }

.homepage #maincontent .nextpost:hover { background-color:#efefef; }

.homepage #maincontent .nextpost { color:#ccc; }

.entrybody .morecats {font-size:.85em;}

#maincontent .globaldivider {margin-top:23px; }

#maincontent .entrydivider {border-top:1px solid #dddddd;height:1px;margin:12px 0px 28px 0px;  }

span.glyphicon.glyphicon-triangle-right { font-size:.6em;color:#555;}

.loadbtn {color:#555;width:140px;background-color:#ddd;background-image:none;font-size:1.1em;font-family: "chaparral-pro-1","chaparral-pro-2",Georgia;}
	
/*	-------		comments display and comment form ------- */	

#comments .btn {margin:0px 0px 0px 0px; background-color:#d6d6d6; }
#commentdisplay  {margin:0px;}
.singlecomment.row {clear:both;margin:1px 0px 0px 0px;padding-bottom:10px;}			
.commentdivide { border-bottom:1px solid #e9e9e9;height:10px;clear:both;} 
.commentbox {padding:0px;margin:0px 0px 0px 0px;font-family: "proxima-nova-1","proxima-nova-2",Helvetica, Verdana, sans-serif;line-height:1.35em;font-size:.85em;overflow:hidden;margin:0px;word-wrap: break-word;}			
@media only screen and (max-device-width: 480px) { .commentbox a {display:none;}}			
.commentbox-heidi {padding:5px;background-color:#e9e9e9;margin:0px 0px 0px 21px;}
.commentdate  {color:#666666;font-size:.9em;padding-top:4px;margin:0px 5px 0px 8px;font-weight:normal;}					
.commenthead {font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;font-size:1em;font-weight:normal;overflow:hidden;padding-top:0px;}	
.commenthead a	{ color: #666666;}
.commenthead a:focus 	{ color:#9F6C3C;}
.commenthead a:hover		{ color:#9F6C3C;}
.commenthead a:visited	{ color:#AF9277;}	
#commentspost, #emailtofriend {margin: 0px 20px 30px 20px;font-size:.9em;}			

#commentspost label { font-family: "proxima-nova-1","proxima-nova-2",Helvetica, Verdana, sans-serif;line-height:1.1em;font-size:1.1em;color:#666;font-weight:normal;}
#commentspost .nameemail {float:left;}
#commentspost .commentfield {float:right;margin-right:70px;}
#commentspost .emailnote { color:#999999;font-size:.75em;}
button.previewbutton { color:#666;font-style:italic;}
button.postbutton { color:#9F6C3C;margin-left:15px; }
.submitmailing  {margin:12px 10px 0px 0px;}
.centercol720 {padding-top:15px;}

/*	-------		related entries, category and archive page listing design ------- */	

#relatedentries { padding-bottom:3px;}	

#maincontent div.cat-blurb {font-size:.9em;}
			
#maincontent .cat-blurb a:link, #maincontent .cat-blurb a:visited { font-size:1em;}
 
#maincontent div.cat-blurb p {font-size:.9em; margin:5px 0px 0px 0px;padding:0px;line-height:1.25em;}

@media only screen and (min-width:768px) { #maincontent div.cat-blurb p {font-size:.9em; margin:5px 15px 0px 0px;padding:0px;}}

.cat-thumbnail {margin:10px 0px 0px 0px;padding:0px 0px 0px 0px !important;}

.cat-holder.row {  margin:0px 0px 30px 0px;padding-right:0px !important;}

.cat-holder-ad { clear:both; border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;height:260px; margin:20px 30px 0px 20px;padding:10px 0px 10px 0px; }

.cat-blurb { margin:0px 0px 0px 0px;padding:0px 0px 0px 0px !important;}

.cat-holder-ad .cat-thumbnail { border:0px;display:none; }
.cat-holder-ad .cat-blurb { margin-left:135px;}		 
	
@media only screen and (max-width:768px) { 	.cat-thumbnail {max-width:115px;padding:0px;margin-left:-10px;}}
#maincontent #relatedentries .cat-blurb p { font-size:.8em; margin:4px 0px 0px 0px;padding:0px;line-height:1.25em; }

#relatedentries .first-related, #relatedentries .second-related, #relatedentries .third-related, #relatedentries .book-related {margin:0px 0px 0px 0px; }
			 
#relatedentries .second-related, #relatedentries .third-related, #relatedentries .book-related {margin-top:8px;padding-bottom:6px;}

@media only screen and (max-width:768px) { 
	#maincontent #relatedentries .cat-blurb  { padding-left:14px; }
} 	

/*	-------		entry recipe content ------- */	 		 	
#recipe 	{ margin:0px;padding:0px;}
#recipe h2, #recipe h1	{font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;line-height:100%;font-size:1.35em; font-weight:normal;letter-spacing:.02em;font-weight: normal;color: #6a6a6a;text-decoration:none;text-align:center;  margin:1px 0px 10px 0px;padding:0px 0px 0px 0px;line-height:1em;}
#recipe p	{font-size:.95em;line-height:1.48em;}	
@media only screen and (min-width:768px) { #recipe p {font-size:1em;line-height:1.65em;margin: 0px 0px 14px 5px;} }
#recipe blockquote 	{font-size:.95em;line-height:1.65em;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-left:0px;padding: 20px 0px 20px 10px; margin: 20px 10px 25px 10px;}			
#recipe blockquote p {font-weight:normal;margin-left:20px;}	
.recipedropcap { font-size:1.3em; }				
#maincontent p.recipeend  {text-align:left;font-size:.8em;height:22px;padding:0px 5px 0px 0px;margin:10px 0px 0px 5px;}	
#maincontent .recipeend a:link, #maincontent .recipeend a:visited  { color:#9F6C3C; text-decoration:none;}

/*	-------		entry post footer ------- */			 
#postfooter  {font-family: "proxima-nova-1","proxima-nova-2",Helvetica, Verdana, sans-serif;border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;margin: 15px 0px 30px 5px;padding: 2px 0px 1px 0px;height:45px;}

#postfooter a:link, #postfooter a:visited  {text-decoration:none; }

#postfooter a	{ color: #666666;}
#postfooter a:focus 	{ color:#9F6C3C;}
#postfooter a:hover		{ color:#9F6C3C;}
#postfooter a:visited	{ color:#AF9277;}
		
#postfooter  .postfootercommentlink { float:left;font-size:.9em;margin-top:8px; }
	
#postfooter .postfooterdate { font-size:.9em;text-align:right;margin:10px 10px 0px 0px;}

#postfooter .postfooterdate a { color:#666666; }

.postfooteremail { float:right;font-size:.8em;margin:9px 32px 0px 0px;}

.postfooterimg { margin-right:8px;}

#bigcomment { float:left; font-family: "proxima-nova-1","proxima-nova-2",Helvetica, Verdana, sans-serif; font-size:.80em;margin:0px 0px 0px 10px;}

.commentnum  {font-size:2.5em;margin:0px 8px 0px 0px; }
/*	-------		about heidi center mobile ------- */

#maincontent .aboutheidi {margin-top:25px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px;padding-top:20px;}

/*	-------		never miss a recipe widget ------- */

#maincontent .socialicons {margin: 15px 0px 10px 5px; }

#maincontent .socialicons img {margin-left:10px;border:0px;}

#maincontent #nevermissarecipe  {background-color:#f1efef;height:75px;margin: 30px 0px 0px 0px;padding:10px 0px 0px 0px;}
			
#maincontent #nevermissarecipe #sign-up, #adcolumn #adcollist #sign-up { float:left;height:20px;padding:0px;margin: 5px 0px 0px 0px;float:left;font-size:inherit;color:#222}

#adcolumn #adcollist {margin:30px 0px 0px 0px; }

#adcolumn #adcollist #sign-up {margin:10px 0px 30px 0px; }

#maincontent #nevermissarecipe #googsearch { float:left; }

#maincontent #nevermissarecipe #connectlinks { margin: 10px 0px 0px 0px;text-align:right;}

#maincontent #nevermissarecipe #connectlinks img {margin-left:5px;border:0px;}

#maincontent #nevermissarecipe form, #adcolumn #adcollist form {margin:0px 0px 0px 0px;}

#maincontent #nevermissarecipe #mailinglistinput, #adcolumn #adcollist #mailinglistinput  {color:#9F6C3C;font-size:1em;font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;margin-top:-1px;margin-left:15px;max-width:275px;}

#maincontent #nevermissarecipe #mailinglistinput:focus,  #adcolumn #adcollist #mailinglistinput:focus {outline:0}

#maincontent #nevermissarecipe .joinbutton, #adcolumn #adcollist .joinbutton {font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif; font-size:1em; background-color:#d3e777;color:#5d6635;font-style:italic;width:40px;height:32px;padding:0;margin:1px 0px 0px 0px;border:0px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box; }

#maincontent #nevermissarecipe div.updates { font-size:.75em; color:#afaeae;margin:6px 0px 0px 30px;float:left;padding:0px;}

/* -------		recently grid widget	 ------- */
#recentlythumbs {margin:0px 0px 0px 10px;}	
			
.thumb, #thumb { display: none;position:absolute;z-index: 50;width:108px;font-family: "proxima-nova-1","proxima-nova-2",Helvetica, Verdana, sans-serif;font-weight:normal;font-size:.7em;background-color:#f6f4ea;padding:6px;color:#666666;opacity: .8;}

.thumbholder { margin:11px 11px 0px 0px;}

.thumbholder a, .thumbholder a:hover { text-decoration:none;color:#666666}

.recentlyrow { padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}

.recentlyrow .row { padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}

/*-------------------------------------------    
    Ad column (right) layout    
-------------------------------------------*/

#adcolumn .globaldivider {margin:0px 0px 0px 0px;width:295px; }

#adcolumn h4	{ font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman", serif; font-style:normal; font-size:1.25em;font-weight:normal;line-height:1em;letter-spacing:.05em;padding: 0px 0px 0px 0px;margin:19px 0px 5px 0px;color:#333;text-decoration:none;}

#adcolumn h3 a, #adcolumn h3 a:visited {font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman", serif; text-decoration:none;font-size:.65em;color:#9F6C3C;font-weight:normal;}
#adcolumn .bookavailable  li { display:inline;font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman", serif;margin:0px 0px 4px 0px;padding:0px; list-style-type:none;font-size:.9em;} 
#adcolumn .bookavailable  li a {color:#949494;text-decoration:underline;} 
#adcolumn .bookavailable  { text-align:center;padding:0px;}
ul.bookavailable.nearfar {text-align:center;margin-bottom:20px;margin-left:10px;}
.nearfarcover {margin-top;30px;}
#adcolumn #mybooks {clear:both;margin:20px 0px 20px 0px;}
#mybooks h3 {font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman", serif; text-decoration:none;font-size:1em;color:#9F6C3C;font-weight:normal;margin: 0px 0px 5px 0px;text-align:center;}
#mybooks h3.nearfar, #mybooks h3.nearfar a {text-align:center;font-size:1.1em;margin-left:15px;color:#666;margin-bottom:0px;letter-spacing:.1em;}
#mybooks h3.nearfar2, #mybooks h3.nearfar2 a {text-align:center;margin-left:15px;font-size:.9em;letter-spacing:.03em;}
#mybooks .globaldivider {width:210px;margin-left:40px;}
#adcolumn .SNED { padding:0px 0px 0px 10px;margin: 10px 0px 0px 0px;}
#adcolumn .SNC { padding:0px 0px 0px 10px;margin:0px 0px 0px 0px;  }
.housead-social { margin:16px 0px 10px 126px; }
.housead-social img { margin-right:5px; }
#aboutheidi { width:300px;margin-bottom:30px;}
#aboutheidi .socialicons {float:left;width:120px;margin: 10px 0px 20px 90px; }
#aboutheidi .socialicons img {margin-left:10px;border:0px;}
#aboutheidi .snapchat {margin-top:15px;margin-left:8px;}
#aboutheidi p {font-family: "proxima-nova-1","proxima-nova-2", Helvetica, Verdana, sans-serif; font-size:.9em;color:#707070;margin:15px 7px 15px 7px;padding;0px;}
#aboutheidi h4 {text-decoration:underline;text-align:center;font-size:1.1em;}
#aboutheidi a {color:#9F6C3C;}
#adcolumn .adcolsky {width:300px;height:600px;margin-bottom:20px;}
#adcolumn .atf300250  {width:300px;height:250px;margin-bottom:20px;clear:both;overflow:visible;}
#adcolumn .btf300250 {width:300px;height:250px;margin-bottom:20px;clear:both;overflow:visible;}

/*	-------		footer	 ------- */


.legalfooter {text-align:left;font-size:.7em;color:#999;clear:both;margin:10px 10px 0px 0px;padding-bottom:10px;}

.legalfooter a:link, .legalfooter a:visited  { color:#999;}
						
#idSiteMeterHREF {display:none; }

.globaldivider { clear:both;height:1px;border-top:1px solid #dddddd; }

.clear { clear:both; }


/*	-------		recco cookbooks ------- */

#reccookbooks .thumbnail {border:0px;-webkit-box-shadow:none; box-shadow:none;}
#reccookbooks #maincontent h6 {font-size:1em;}
#reccookbooks .authorname {font-size: .7em;text-transform: uppercase;padding-left:0px;}
#reccookbooks .caption {padding:0px;margin-top:8px;}
#reccookbooks .item { height:370px;margin-bottom:15px;}
#reccookbooks .bcats {float:left;  margin-right: 5px;margin-bottom: 5px;}
 #reccookbooks .bcatsholder {margin-left:15px;margin-top:15px;}
#reccookbooks #maincontent h5.bcats {text-align:left;float:none;}
@media (min-width: 992px){ #reccookbooks .item .col-md-3 {  width: 30%;} }

@media (max-width: 766px){ 
#reccookbooks .item .col-xs-6 {max-width:220px; }
#reccookbooks .item { height:320px;margin-bottom:5px;}
#reccookbooks div.bcats {font-size:1.1em;clear:both;}
#reccookbooks .lilbar {display:none;}
}

/*	-------		ad unit related	 ------- */

.dfp1, .dfp3 { width:300px; height:250px;float:left;margin-right:10px; }

@media only screen and (min-width:768px) { .dfp1, .dfp3 { margin-left:30px; } }

@media only screen and (max-width:768px) { .dfp1, .dfp3 { float:none;margin:auto; } }

.dfp2, .dfp4 {width:300px; height:250px;float:left; }

.centraladunit-inside { clear:both;margin:0px 0px 0px 0px; }

.centraladunit-frontpage { clear:both;margin:0px 0px 0px 0px; }


#CW-1, #CW-2, #CW-3 { margin-left:-20px; }

#centraleditorialunit {height:120px;clear:both;margin-left:30px;border: 1px dotted #ccc;}

#centraleditorialunit .sponsorlogo {float:left;margin:50px 0px 0px 40px; }

#centraleditorialunit .sponsormsg { float:left;margin: 56px 0px 0px 20px;font-size:.80em;}

#centraleditorialunit .sponsormsg a:link, #centraleditorialunit .sponsormsg a:visited, #centraleditorialunit .sponsormsg a:hover {color:#505050;text-decoration:none;} 

#qk-house {margin:30px 0px 0px 0px;clear:both;  }

#adcolumn #qk-house .globaldivider {margin: 10px 0px 0px 20px;width:250px;}

.qk-product {width:250px;margin:0px 0px 0px 20px; }

.qk-prod-link { text-align:center;margin:20px 0px 0px 0px; }

.qk-prod-link a:link, .qk-prod-link a:visited  { font-size:.95em; color:#949494; text-decoration:none; }

.qk-prod-link a:hover { text-decoration:underline; }

.shopify-widget { margin:15px 0px 15px 80px; }

.qk-logo {margin:0px 0px 12px 62px;width:170px; }
    
logo {margin:0px 0px 12px 62px;width:170px; }
    
rod-link a:hover { text-decoration:underline; }

.shopify-widget { margin:15px 0px 15px 80px; }

.qk-logo {margin:0px 0px 12px 62px;width:170px; }





@media (min-width: 768px) {

.navcol { position:relative; max-width:150px; padding-left:0px; margin-right:14px;  }
.navcontainer {max-width:150px;padding:0px;}
.searchform {padding-right:30px;}
.container-fluid {padding-left:0px;}	
.frontthumbs {width:100%;}
.frontleftthumb {float:left;margin:0px;width:334px;}
.frontrightthumb {float:left;width:334px;margin-left:0px;}
footer {width:420px;}
}

.navbar .open .caret {  border-top:4px solid #9F6C3C; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);  }
.navbar-default { -webkit-box-shadow:none;box-shadow:none;}
.navbar {border:0px;background-color:#ffffff;border-color:#ffffff;}
footer {margin-left:auto;margin-right:auto;float:none;}


@media (max-width: 767px) 
{body {padding-top:70px;}
.navcol  {position:fixed;width:100%;background-color:white;padding:0px;  }
.navcontainer { padding:0px;width:100%;height:65px; margin-bottom:-6px;  }
.moblogo {width:130px;margin: 13px 0px 0px 14px;}
.navbar {width:100%;padding:0px;border-bottom:1px solid #ccc;}
.navbar-toggle .open .caret { border-top:4px solid #666; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
.dropdown-menu li {;border-bottom:1px solid #efefef;} 
.dropdown-menu li:hover {background-color:#fafafa;}
.dropdown-menu li a { text-decoration:none;color:#949494; }
.dropdown-menu li {padding:4px;}   
}

/* only Firefox */
@-moz-document url-prefix() {
 .mainimg, .mainimagewide img.photo, .entrybody img, .mainimagewide img {
width: 100%;
}
}
    
.collapsing { -webkit-transition: none;transition: none;}    
    
.pagination>li>a, .pagination>li>span {  font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman", serif;
   font-size:1.2em;
    color: #949494;
    text-decoration: none;
    background-color: #fff;
    border:0px; 
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #9F6C3C;
    background-color: #eee;
    border-color: #ccc;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #d6d6d6;
    border-color: #ccc;
}

li.tagholder  { display:inline;list-style:none;background-color:#f8f8f8;float:left;padding:6px;margin:8px;font-size:1.05em;}
li.tagholder:hover {background-color:#efefef; }
.tagholder em { font-size:.7em;color:#b1b1b1;}
.tagresults {font-size:.9em;}
.tagresults a {text-decoration:underline;}
